<html>
<head>
    <title>register</title>
     <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
     <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>
<body>
  
   <div class="container">
   	   <div class="row">
   	       <div class="col-md-4">
   	   	    <div class="jumbotron">
   	   	       <img src='<%- container.pic_big%>'/>
   	   	      <h3><%- container.title%></h3>
   	   	       <div><%- container.album_title%></div>
   	   	      <p><%- container.author%></p>
   	   	      <p>发行时期：<%- container.publishtime%></p>
     
   	   	     
   	   	      <p><a class="btn btn-primary btn-lg" href="<%- container.lrclink%>" role="button">点击听歌</a></p>
   	   	    </div>
   	   	   </div>
   	   	   <div class="col-md-8">
   	   	     
   	   	   </div>
   	  </div>
   	  
   </div>


    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>